header > .wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
}

#header-title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.87);
}

.storybook-button + .storybook-button {
  margin-left: 10px;
}

.header-welcome {
  color: #ddd;
  font-size: 14px;
  margin-right: 10px;
}

#header-logo {
  width: 60px;
  display: inline-block;
  vertical-align: top;
}
