.task {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid midnightblue;
  border-radius: 3em;
  background-color: burlywood;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 0.5em;
}
.incomplete {
  font-weight: 700;
}
.completed {
  text-decoration: line-through;
}